{% extends 'base.html.twig' %}

{% block title %}ContactForm index{% endblock %}

{% block body %}
    <h1>ContactForm index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Subject</th>
                <th>Message</th>
                <th>Email</th>
                <th>SendDate</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for contact_form in contact_forms %}
            <tr>
                <td>{{ contact_form.id }}</td>
                <td>{{ contact_form.subject }}</td>
                <td>{{ contact_form.message }}</td>
                <td>{{ contact_form.email }}</td>
                <td>{{ contact_form.sendDate ? contact_form.sendDate|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('contact_form_show', {'id': contact_form.id}) }}">show</a>
                    <a href="{{ path('contact_form_edit', {'id': contact_form.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('contact_form_new') }}">Create new</a>
{% endblock %}
