{% extends 'base.html.twig' %}

{% block title %}ContactForm{% endblock %}

{% block body %}
    <h1>ContactForm</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ contact_form.id }}</td>
            </tr>
            <tr>
                <th>Subject</th>
                <td>{{ contact_form.subject }}</td>
            </tr>
            <tr>
                <th>Message</th>
                <td>{{ contact_form.message }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ contact_form.email }}</td>
            </tr>
            <tr>
                <th>SendDate</th>
                <td>{{ contact_form.sendDate ? contact_form.sendDate|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('contact_form_index') }}">back to list</a>

    <a href="{{ path('contact_form_edit', {'id': contact_form.id}) }}">edit</a>

    {{ include('contact_form/_delete_form.html.twig') }}
{% endblock %}
