{% extends 'base.html.twig' %}

{% block title %}Project index{% endblock %}

{% block body %}
    <h1>Project index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Date</th>
                <th>Description</th>
                <th>Display</th>
                <th>Github</th>
                <th>Link</th>
                <th>Techs</th>
                <th>Actions</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
        {% for project in projects %}
            <tr>
                <td>{{ project.id }}</td>
                <td>{{ project.name }}</td>
                <td>{{ project.date ? project.date|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ project.description }}</td>
                <td>{{ project.display ? 'Yes' : 'No' }}</td>
                <td>{{ project.github }}</td>
                <td>{{ project.link }}</td>
                <td>
                    {% for tech in project.techs %}
                        {{ tech.name }}
                    {% endfor %}
                </td>
                <td>
                    <a href="{{ path('admin_project_show', {'id': project.id}) }}">Show</a>
                    <a href="{{ path('admin_project_edit', {'id': project.id}) }}">Edit</a>
                </td>
                <td class="index-delete">{{ include('admin/project/_delete_form.html.twig') }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('admin_project_new') }}">Create new</a>
{% endblock %}
