{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <div class="home-title">
        <div class="home-geometric"></div>
        <h1 class="text-left">{{ user.firstname }} {{ user.lastname }}</h1>
        <div class="home-brief">{{ user.brief }}</div>
    </div>

    <section class="project-section">
        <h2>PROJECTS</h2>
        <div class="row">
            {% for project in projects %}
                {# Slice the array of pictures and retrieve the first object picture for vich display #}
                {% for picture in project.pictures[:1]  %}
                    <a class="col-sm-12 col-lg-4 d-flex align-items-stretch" href="{{ path('app_project_show', {'id': project.id}) }}">
                        <div class="card project-card">
                            <img class="card-img-top" src="{{ vich_uploader_asset(picture, 'urlFile') | imagine_filter('home_project') }}" alt="{{ picture.name }}">
                            <div class="card-body">
                                <h3 class="text-center">{{ project.name }}</h3>
                                <p class="card-text text-justify">{{ project.description }}</p>
                            </div>
                        </div>
                    </a>
                {% endfor %}
            {% endfor %}
        </div>
    </section>

    <section class="techs-section">
        <h2>TECHNOLOGIES USED</h2>
        <div class="container">
            <div class="row d-flex justify-content-center">
                {% for tech in techs %}
                    {# picture is set because vich does not accept a tech object nor a tech.picture path #}
                    {% set picture = tech.picture  %}
                    <div class="home-tech-icon d-flex align-items-center">
                        <img class="tech-icon" src="{{ vich_uploader_asset(picture, 'urlFile') | imagine_filter('icons') }}" alt="{{ picture.name }}">
                        {# Overlay of the icon with display of the percentage of usage of the tech #}
                        <div class="icon-overlay d-flex align-items-center justify-content-center"><p>{{ percentUse[tech.id] }}%</p></div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>

{% endblock %}